<div class="loading-container">
  <div>Loading...</div>
</div>
<%# 
Here is a sample using Font Aweseome icons and Tailwind, 
if you wanted to have a spinner or another icon
%>
  <%# https://fontawesome.com/v6/docs/web/use-with/ruby-on-rails#contentHeader

 <div class="grid h-screen place-items-end center">
 <i class="fa-duotone fa-spinner-third fa-spin fa-2xl" style="--fa-primary-color: #000000; --fa-secondary-color: #000000; --fa-secondary-opacity: 0.5;"></i>
 </div> %>
